@tailwind base;
@tailwind components;
@tailwind utilities;

.selects {
  @apply min-w-[100px] w-full text-white focus:bg-white focus:text-black p-1 outline-none rounded-sm border border-slate-700 focus:border-blue-700 bg-transparent;
}

b {
  @apply text-cyan-500 font-medium
}

.edit-modal {
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 8px;
  overflow: auto;
  position: relative;
}